<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <title>App</title>

    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta name='apple-mobile-web-app-title' content='App' />
    <meta name='application-name' content='App' />
    <meta name='mobile-web-app-capable' content='yes' />
    <link rel='preconnect' href='https://fonts.googleapis.com' />
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin />
    <link
      href='https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700;900&display=swap'
      rel='stylesheet'
    />
    <meta name='viewport' content='width=device-width, initial-scale=1, maximum-scale=1' />
    <meta name='msapplication-TileColor' content='#ffffff' />
    <meta name='theme-color' content='#ffffff' />
    <style>
      html, body { margin: 0; height: 100%; } body { overflow: hidden; } #root { height: 100%; } #preloader { width:
      100%; height: 85vh; display: flex; justify-content: center; align-items: center; flex-direction: column; }
      #preloader-logo { width: 80px; height: 80px; animation: breathing 7s ease-out infinite normal; } @keyframes
      breathing { 0% { -webkit-transform: scale(0.9); -ms-transform: scale(0.9); transform: scale(0.9); } 25% {
      -webkit-transform: scale(1); -ms-transform: scale(1); transform: scale(1); } 60% { -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9); transform: scale(0.9); } 100% { -webkit-transform: scale(0.9); -ms-transform:
      scale(0.9); transform: scale(0.9); } }

    </style>
  </head>
  <body>
    <div id='root'>
      <div id='preloader'>
        <svg id='preloader-logo' width='262' height='400' viewBox='0 0 262 400' fill='none'>
          <path
            fillRule='evenodd'
            clipRule='evenodd'
            d='M213.5 54C228.688 54 241 41.9117 241 27C241 12.0883 228.688 0 213.5 0C198.312 0 186 12.0883 186 27C186 41.9117 198.312 54 213.5 54ZM131.043 62C105.132 61.9915 79.8003 69.6672 58.2518 84.0565C36.7033 98.4458 19.9059 118.902 9.98424 142.839C0.0625368 166.775 -2.53786 193.116 2.51192 218.53C7.56171 243.945 20.0348 267.291 38.3537 285.616C56.6727 303.941 80.0146 316.421 105.427 321.48C130.84 326.538 157.182 323.946 181.122 314.032C205.061 304.118 225.523 287.328 239.92 265.784C254.316 244.24 262 218.911 262 193C262 158.264 248.204 124.95 223.646 100.384C199.088 75.8183 165.779 62.0115 131.043 62ZM131.043 275.193C114.812 275.193 98.9463 270.381 85.451 261.363C71.9556 252.346 61.4372 239.529 55.226 224.534C49.0147 209.539 47.3896 193.039 50.5561 177.12C53.7225 161.201 61.5383 146.578 73.0152 135.102C84.492 123.625 99.1145 115.809 115.033 112.642C130.952 109.476 147.452 111.101 162.448 117.312C177.443 123.524 190.26 134.042 199.277 147.537C208.294 161.033 213.107 176.899 213.107 193.13C213.107 214.894 204.461 235.768 189.071 251.158C173.681 266.547 152.808 275.193 131.043 275.193ZM72.04 339C110.088 354.502 152.609 354.502 190.657 339H242C230.123 357.705 213.778 373.095 194.469 383.754C175.16 394.413 153.507 400 131.5 400C109.493 400 87.8398 394.413 68.5308 383.754C49.2218 373.095 32.8772 357.705 21 339H72.04Z'
            fill='#18234C'
          ></path>
        </svg>
      </div>
    </div>
  </body>
</html>